@use "var";

html{
    font: var.$menuFont;
    color: var.$menuFontColor;
    background: #fcfdfd;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/first-screen-image.png");
    position: relative;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding-top: 40px;
}

main{
    padding: 0px 9.375%;
}