@use "var";

html{
    font: var.$menuFont;
    color: var.$menuFontColor;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: url("../images/first-screen-image.png"),#fbfdfc;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0;
    padding-top: 40px;
}

main, footer{
    
    padding: 0px 9.375%;
}

button{
    cursor: pointer;
    position: relative;

    &:hover {
        opacity: 1;
        
        &::after{
            position: absolute;
            content: "";
            background:#E54F3A;
            backdrop-filter: blur(4.5px);
            width: 85%;
            height: 13px;
            opacity: 0.3;
            top: 50%;
            left: 15%;
        }
    }

    &::after{
        position: absolute;
        content: "";
        background: #f1897b;
        backdrop-filter: blur(4.5px);
        width: 85%;
        height: 13px;
        opacity: .3;
        top: 50%;
        left: 15%;
    }
}