@use "var";
@use "preparedCode";


header{
    margin: 0 0 150px;
    opacity: .5;
    padding: 24px 9.375%;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.244636) 24.1%, rgba(255, 255, 255, 0) 47.19%);
    backdrop-filter: blur(4.5px);
    opacity: 1;
}

.header{

    &-navigation{
        @extend %displayFlexCenterBetween;
        flex-wrap: wrap;
        
    }

    &-logo{
        
        fill: white;

        &:hover{
            transition: .1s ease-in-out;
            transform: scale(1.1);
        }

        @media only screen and (max-width: 900px) {
            fill: black;
            
        }
    }
}

.navigation-list{
    @extend %displayFlexCenterBetween;
    max-width: 490px;
    width: 100%;

    &__item {

        &:hover{

            border-bottom: 2px solid var.$linkBorderBottomColor;
            transition: .1s ease-in-out;
            transform: scale(1.1);
        }
    
        & a{

        

        &:link {
            font: var.$menuFont;
            color: var.$menuFontColor;
        }

        &:visited {
            font: var.$menuFont;
            color: var.$menuFontColor;
        }
    }
}
}
