@use "var";
@use "preparedcode";


.section-info {
    margin-bottom: var.$sectionMarginBottom;
    padding: 45px 0;
    display: flex;

    &__image {
        position: absolute;
        z-index: 0;
        margin: auto;
        max-height: 670px;
        height: 100%;


        & img {
            max-width: 570px;
            width: 100%;
            max-height: 670px;
            height: 100%;
        }

    }

    &__text {
        @extend %displayFlexCenterBetween;
        margin-top: 45px;
        background: #FFFFFF;
        opacity: 0.9;
        width: 770px;
        z-index: 2;
        margin-left: 37.153%;
        padding-top: 45px;
        padding-bottom: 45px;


        &-one {
            text-align: center;
            max-width: 370px;
            width: 100%;
            z-index: 2;

        }

        &-two {
            max-width: 400px;
            width: 100%;
            z-index: 2;
            align-self: self-start;
        }
    }
}



.text-area {

    &__gap {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    &price-subtitle {
        font: var.$fontDescription;
        color: var.$mainFontColor;
        opacity: 0.8;
    }


    &__price {
        margin-bottom: 12px;
        font: var.$fontPriceNumber;
        color: var.$mainFontColor;
    }

    &__price--color {
        font: var.$fontPrice;
        color: var.$fontPriceColor;

    }

}

.text-two__text {
    margin-bottom: 50px;
    font: var.$fontDescription;
    color: var.$mainFontColor;
    opacity: 0.8;
}

.area-one {
    padding-bottom: 40px;
}

.area-two {
    padding-top: 40px;
}