@use "var";
@use "preparedcode";


.section-promises {
    min-height: 540px;
    height: 100%;
    margin-bottom: var.$sectionMarginBottom;

    &__images {
        max-height: 540px;
        height: 100%;
        max-width: 600px;
        width: 100%;
        position: absolute;

        & img {
            width: 100%;
            height: 100%;
        }
    }


    &__text {
        display: inline-flex;
        flex-wrap: wrap;
        padding: 75px 0px 75px 70px;
        background: #FFFFFF;
        opacity: 0.9;
        max-width: 770px;
        width: 100%;
        float: right;
        margin-top: 45px;
        row-gap: 70px;
        justify-content: space-between;


        &-area {
            max-width: 300px;
            width: 100%;

            &-header {
                margin-bottom: 15px;
                font: var.$fontPromiceHeader;
                color: var.$mainFontColor;
            }

            &-item {
                font: var.$fontPromiceItem;
                color: var.$mainFontColor;
            }

            &-button{
                border: 0px;
                padding: 0;
                height: 100%;
                width: 100%;
                border: 1px solid #E4E4E4;
                background-color: inherit;
                color: #F1897B;
                font: var.$fontButton;

                &::after {
                    position: absolute;
                    content: "";
                    background: #f1897b;
                    -webkit-backdrop-filter: blur(4.5px);
                    backdrop-filter: blur(4.5px);
                    width: 95px;
                    height: 13px;
                    opacity: 0.3;
                    top: 50%;
                    left: 38%;
                }

                &:hover{
                    border: 1px solid #E64F3A;
                    color: #E64F3A;
                    font: var.$fontButton;
                    transition: 0.8s ;
                    opacity: 1;

                    &::after {
                        position: absolute;
                        content: "";
                        background: #E54F3A;
                        -webkit-backdrop-filter: blur(4.5px);
                        backdrop-filter: blur(4.5px);
                        width: 95px;
                        height: 13px;
                        opacity: 0.3;
                        top: 50%;
                        left: 38%;
                        transition: 0.8s ;
                    }
                }
            }
        }

    }
}
