@use "var";
@use "preparedcode";


.section-reviews{
    color: var.$mainFontColor;
    margin-bottom: var.$sectionMarginBottom;

    &__header{
        font: var.$fontBenefitHeader;
        margin-bottom: 20px;
    }

    &__description{
        max-width: 400px;
        width: 100%;
        font: var.$fontPromiceItem;
        opacity: 0.8;
        margin-bottom: 50px;
    }

    &__reviews{
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        min-height: 340px;
    }

    &__review{
        max-width: 32%;
        width: 100%;
        min-height: 340px;
        height: 100%;
        padding: 30px 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
        

        &-text{
            display: block;
            font: var.$fontReview;
            color: #fff;
            opacity: 0.8;

        }

        &-author{
            display: block;
            font: var.$fontSectionQuoteAutor;
            color: #fff;
            letter-spacing: 0.08em;

            
        }
    }
}

.backround-one{
    background: linear-gradient(0deg, rgba(25, 28, 41, 0.6), rgba(25, 28, 41, 0.6)),url("../images/section-review/image1.png");
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    width: 100%;
}

.backround-two{
    background: linear-gradient(0deg, rgba(25, 28, 41, 0.6), rgba(25, 28, 41, 0.6)),url("../images/section-review/image2.png");
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    width: 100%;

}

.backround-three{
    background: linear-gradient(0deg, rgba(25, 28, 41, 0.6), rgba(25, 28, 41, 0.6)),url("../images/section-review/image3.png");
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    width: 100%;
}