@use "var";
@use "preparedcode";

.section-contact {
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid #E4E4E4;
    margin-bottom: 100px;

    &__heading {
        max-width: 470px;
        width: 100%;

        &-header {
            font: var.$fontContactHeader;
            color: var.$mainFontColor;
            padding-bottom: 29px;
        }

        &-subtitle {
            opacity: 0.8;
            font: var.$fontPromiceItem;
        }
    }

    &__form {
        max-width: 470px;
        width: 100%;

        &-input {
            border-bottom: 1px solid #E4E4E4;
            

            &:nth-child(n){
                padding-top: 40px;
            }

            &:first-child{
                padding-top: 0px;
            }

            & button{
                font: var.$fontButton;
                color: var.$linkBorderBottomColor;
                border: none;
                background: inherit;
                opacity: 0.6;

                &:hover{
                    opacity: 1;
                    transition: 0.8s;
                }
            }
            

            & input {
                border: 0px;
                max-width: 470px;
                width: 100%;
                height: 32px;
                padding-left: 0px;
                background-color: inherit;
                font: var.$fontContactInput;
                letter-spacing: 0.08em;
                outline:none;
                
            }

            &:last-child {
                border-bottom: none;
            }
        }
    }
}