@use "var";
@use "preparedcode";


.section-info{
    margin-bottom: 120px;
    padding: 45px 0;
    display: flex;

    &__image{
        position: absolute;
        z-index: 0;
        margin: auto;
        max-height: 670px;
        height: 100%;

    }

    &__text{
        @extend %displayFlexCenterBetween;
        justify-content: end;
        margin-top: 45px;
        background: #FFFFFF;
        opacity: 0.9;
        width: 770px;
        z-index: 2;
        margin-left: 400px;
        padding-top: 45px;
        padding-bottom: 45px;
        

        &-one{
            text-align: center;
            max-width: 370px;
            width: 100%;
            z-index: 2;
            display: grid;
            gap: 80px;
        }

        &-two{
            max-width: 400px;
            width: 100%;
            z-index: 2;
        }
    }
}



.text-area{


    &__price{
        margin-bottom: 12px;
    }

    &__price--color{
        font: var.$fontPrice;
        color: var.$fontPriceColor;
        
    }
}

.text-two__text{
    margin-bottom: 50px;
}