//Font

$menuFont: 400 14px / 24px 'LatoNormal', sans-serif;

$fontHeader: 400 44px /52px 'PlayfairDisplayNormal';
$fontDescription: 300 18px / 26px 'LatoNormal', sans-serif;
$fontButton: 700 20px / 20px 'LatoBold', sans-sefir;
$fontPrice: 400 40px / 50px 'PlayfairDisplayNormal', serif;

//Color
$mainFontColor: #262A3F;
$menuFontColor: $mainFontColor;
$linkBorderBottomColor: #F1897B;
$fontPriceColor: #E4E4E4;



