//Font

$menuFont: 400 14px / 24px 'LatoNormal', sans-serif;

$fontHeader: 400 44px / 52px 'PlayfairDisplayNormal';
$fontDescription: 300 18px / 26px 'LatoNormal', sans-serif;
$fontButton: 700 20px / 20px 'LatoBold', sans-sefir;
$fontPrice: 400 40px / 50px 'PlayfairDisplayNormal', serif;
$fontPriceNumber: 400 68px / 72px 'PlayfairDisplayNormal', serif;

$fontBenefitHeader: 400 40px / 48px 'PlayfairDisplayNormal', serif;

$fontSectionQuote: 400 32px / 46px 'LatoNormal', sans-serif;

$fontSectionQuoteAutor: 400 20px / 20px 'PlayfairDisplayItalic', serif;
$fontPromiceHeader: 400 24px / 48px 'PlayfairDisplayNormal', serif;
$fontPromiceItem: 400 18px / 26px 'LatoNormal', sans-serif;
$fontReview: 400 16px / 26px 'LatoNormal', sans-serif;

//Color
$mainFontColor: #262A3F;
$menuFontColor: $mainFontColor;
$linkBorderBottomColor: #F1897B;
$fontPriceColor: #E4E4E4;
$fontSectionQuoteColor: #fff;


// Margin

$sectionMarginBottom: 120px;
