@font-face {
  font-family: "LatoBold";
  src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato300";
  src: url("../fonts/Lato-Light.woff2") format("woff2"), url("../fonts/Lato-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PlayfairDisplayItalic";
  src: url("../fonts/PlayfairDisplay-Italic.woff2") format("woff2"), url("../fonts/PlayfairDisplay-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "LatoNormal";
  src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PlayfairDisplayNormal";
  src: url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2"), url("../fonts/PlayfairDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.section-info__text, .navigation-list, .header-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.higlight-text {
  color: #85BBB1;
  font-style: italic;
}

.first-screen__button {
  font: 700 20px/20px "LatoBold", sans-sefir;
  color: #F1897B;
  opacity: 0.8;
}

html {
  font: 400 14px/24px "LatoNormal", sans-serif;
  color: #262A3F;
  background: #fcfdfd;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../images/first-screen-image.png");
  position: relative;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding-top: 40px;
}

main {
  padding: 0px 9.375%;
}

.section-info__text, .header-navigation, .navigation-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.higlight-text {
  color: #85BBB1;
  font-style: italic;
}

.first-screen__button {
  font: 700 20px/20px "LatoBold", sans-sefir;
  color: #F1897B;
  opacity: 0.8;
}

header {
  margin: 0 0 150px;
  opacity: 0.5;
  padding: 24px 9.375%;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.244636) 24.1%, rgba(255, 255, 255, 0) 47.19%);
  -webkit-backdrop-filter: blur(4.5px);
          backdrop-filter: blur(4.5px);
  opacity: 1;
}

.header-navigation {
  flex-wrap: wrap;
}
.header-logo {
  fill: white;
}
.header-logo:hover {
  transition: 0.1s ease-in-out;
  transform: scale(1.1);
}
@media only screen and (max-width: 900px) {
  .header-logo {
    fill: black;
  }
}

.navigation-list {
  max-width: 490px;
  width: 100%;
}
.navigation-list__item:hover {
  border-bottom: 2px solid #F1897B;
  transition: 0.1s ease-in-out;
  transform: scale(1.1);
}
.navigation-list__item a:link {
  font: 400 14px/24px "LatoNormal", sans-serif;
  color: #262A3F;
}
.navigation-list__item a:visited {
  font: 400 14px/24px "LatoNormal", sans-serif;
  color: #262A3F;
}

.section-info__text, .header-navigation, .navigation-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.higlight-text {
  color: #85BBB1;
  font-style: italic;
}

.first-screen__button {
  font: 700 20px/20px "LatoBold", sans-sefir;
  color: #F1897B;
  opacity: 0.8;
}

.first-screen {
  margin-bottom: 154px;
}
.first-screen__header {
  font: 400 44px/52px "PlayfairDisplayNormal";
  max-width: 523px;
  width: 100%;
  margin-bottom: 20px;
}
.first-screen__description {
  font: 300 18px/26px "LatoNormal", sans-serif;
  max-width: 439px;
  width: 100%;
  margin-bottom: 50px;
}
.first-screen__button {
  border: none;
  background: none;
}
.first-screen__button:hover {
  cursor: pointer;
  transition: 0.1s ease-in-out;
  transform: scale(1.1);
}

.header-navigation, .navigation-list, .section-info__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.higlight-text {
  color: #85BBB1;
  font-style: italic;
}

.first-screen__button {
  font: 700 20px/20px "LatoBold", sans-sefir;
  color: #F1897B;
  opacity: 0.8;
}

.section-info {
  margin-bottom: 120px;
  padding: 45px 0;
  display: flex;
}
.section-info__image {
  position: absolute;
  z-index: 0;
  margin: auto;
  max-height: 670px;
  height: 100%;
}
.section-info__text {
  justify-content: end;
  margin-top: 45px;
  background: #FFFFFF;
  opacity: 0.9;
  width: 770px;
  z-index: 2;
  margin-left: 400px;
  padding-top: 45px;
  padding-bottom: 45px;
}
.section-info__text-one {
  text-align: center;
  max-width: 370px;
  width: 100%;
  z-index: 2;
  display: grid;
  gap: 80px;
}
.section-info__text-two {
  max-width: 400px;
  width: 100%;
  z-index: 2;
}

.text-area__price {
  margin-bottom: 12px;
}
.text-area__price--color {
  font: 400 40px/50px "PlayfairDisplayNormal", serif;
  color: #E4E4E4;
}

.text-two__text {
  margin-bottom: 50px;
}/*# sourceMappingURL=main.css.map */