@import "fonts";
@import "preparedCode";


@import "general";
@import "header";
@import "firstScreen";
@import "sectionInfo";
@import "sectionBenefits";
@import "sectionQuoteBackground";
@import "sectionVideo";
@import "sectionPromises";


@import "footer";